@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="mainText">
    <h1 class="display-4 text-capitalize text-black">Welcome to High Cost Pizza</h1>
    <h2 class="mainSubTitle">Some delicious pizza awaits</h2>
    <img src="~/images/whyPizza.jpg" height="600" width="800" />
    <br />
    <br />
    <a class="btn btn-primary mt-1" asp-area="" asp-page="Checkout/ThankYou">Bring That Pizza</a>
        </div>
</div>

